

h1, h2, h3, h4, h5, p {
    font-family: "Work Sans", '"Helvetica Neue"', "Arial", "sans-serif";
    font-weight: 400;
}


body {
  margin: 0;
  padding: 0;
    font-family: "Work Sans", '"Helvetica Neue"', "Arial", "sans-serif";

}
